.core_payment_gateways_modal .novalnet .icon {
    height: 40px;
    width: auto;
}
.paygw_novalnet-payment-methods .paymentmethod input[type="radio"] {
    display: none;
}
.paygw_novalnet-payment-methods .paymentmethod input[type="radio"] + label {
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.paygw_novalnet-payment-methods .paymentmethod input[type="radio"]:checked + label {
    background-color: #ddd;
    border: 1px solid #080;
}
.paygw_novalnet-method-desc {
    display: none;
}
.paygw_novalnet-payment-methods .paymentmethod input[type="radio"]:checked + label p {
    display: block;
    padding-top: 10px;
}
